#app-title{
  text-align: center;
  margin: 40px auto;
  font-family: 'Sigmar One', cursive;
}
.fa{
  color: rgb(0, 130, 224);
}
.table{
  margin-top: 20px;
}
#report-info{
  margin-top: 50px;
}
#location-list{
  margin-top: 50px;
}
#user-location-map{
  /*width: 100px;*/
}
#report{
  margin-top: 20px;
}
#user-current-location{
  /*margin-top: 3px;*/
  margin: 3px auto;
}
#map{
  width: 460px;
  height: 460px;
}
#get_Location{
  display: inline-block;
}
#users_current_location{
  margin-left: 40px;
  display: inline-block;
}

#report_data {
  margin-top: 10px;
}

#divider {
  border-bottom: 2px solid rgb(15, 82, 136);
  margin-top: 30px;
}
.loading-gif{
  display: inline;
  margin-top: 10px;
  margin-left: 10px;
}

.loading-gif img{
  width: 30px;
}
.loading-gif-bottom{
  margin-top: 15px;
  margin-left: 220px;
}
.loading-gif-bottom img{
  width: 30px;
}

.marginbotton {
  margin-bottom: 20px;
}
