<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="../static/js/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
  <script src="../static/js/script.js"></script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkDY7F_SDw4JT9Ev42KzPBLC-YsfeaeGs&signed_in=true&callback=initMap" async defer></script>

  <title>Community Help</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 id="app-title">Community Help</h1>
      <!-- this section shows the list of the location where homeless people located -->
      <div class="col-xs-6" id="show-info">

        <div class="input-group">
          <input id="address" type="text" class="form-control" placeholder="Enter Zip Code">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="find">Find!</button>
          </span>
        </div>
        <button class="btn btn-default" id="user-current-location"><i class="fa fa-location-arrow"> Use Your Current Location</i></button>
        <div class="loading-gif">
            <img src="../static/img/loading.gif" alt="loading-gif">
        </div>
        <div id="error-message"></div>
        <div id="location-list">

          <h3>Locations where people may need your help!</h3>
          <table class="table table-hover" >
            <thead>
              <th>#</th>
              <th>Location</th>
              <th>Comment</th>
              <th>Distance</th>
            </thead>
            <tbody id="location-table">
              <!-- Content appended here dynamically -->
            </tbody>

          </table>
        </div>

      </div>
      <div class="col-xs-6">
        <!-- this div is for google map -->
        <div id="floating-panel">
        </div>
        <div id="map"></div>
      </div>

      <!-- end of the show info section -->
      <div class="col-xs-12" id="divider"></div>

      <!-- report area -->
      <div class="report_data">
        <div class="col-xs-6">
          <form id="report">
            <!-- <button class="btn btn-default " id="get_Location" ><i class="fa fa-location-arrow">Get your current Location</i></button> -->
            <div id="users_current_location"></div>
            <textarea class="form-control" name="comments" rows="4" cols="8" placeholder="More details about what is needed, where and by who." id="comments"></textarea>
            <button class="btn btn-primary pull-right" id="report_data" type="submit" name="report">Person Needs Help Here!</button>
            <div class="loading-gif-bottom">
              <img src="../static/img/loading.gif" alt="loading-gif-bottom">
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

</body>

</html>
